<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.TextViewLinkActivity"
            android:label="@string/title_activity_text_view_link"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity android:name=".base.BaseActivity" /> -->
        <activity android:name=".component.QqConmentActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".component.ShowImageViewActivity" />
        <activity android:name=".component.ProgressBarActivity" />
        <activity android:name=".component.DateTimeDemoActivity" />
        <activity android:name=".component.listview.ListActivity" />
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".dialog.AlertDialogActivity" />

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.administrator.myapplication.service.TestService" />
            </intent-filter>
        </service>

        <activity android:name=".service.TestServiceActivity" />

        <service
            android:name=".service.TestService2"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.administrator.myapplication.service.TestService2" />
            </intent-filter>
        </service>
        <service
            android:name=".service.TestService3"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.administrator.myapplication.service.TestService3" />
            </intent-filter>
        </service>
        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.administrator.myapplication.service.NotificationService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.LongRunningService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.administrator.myapplication.service.LongRunningService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <!--
        <receiver
            android:name=".broadcast.MyBRReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

            </intent-filter>
        </receiver>
        -->

        <activity android:name=".broadcast.NetStateActivity" />
        <activity android:name=".broadcast.singlelogin.LoginSingleActivity" />
        <activity android:name=".broadcast.singlelogin.LoginSucActivity" />

        <!--
        <receiver
            android:name=".broadcast.singlelogin.LogoutReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.administrator.myapplication.broadcast.singlelogin.LogoutReceiver" />
            </intent-filter>
        </receiver>
        -->
        <activity android:name=".contentprovider.ContentProvideActivity" />
        <activity
            android:name=".fragment.FragmentsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".fragment.newslist.NewListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".storage.StorageActivity" />
        <activity android:name=".webview.WebviewActivity" />
        <activity android:name=".webview.WebviewDialogActivity" />
        <activity android:name=".webview.WebviewContactActivity"></activity>
    </application>

</manifest>